/*
font-family: 'Muli', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Play', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2A1B3D;
  color: #FCFBE3;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;

  text-align: center;
  margin: auto;
}




p,li,a {
  color: #FCFBE3;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}

a:link {
  text-decoration: none;
  color: #EB9FC3;
}

a:visited {
  text-decoration: none;
  color: #EB9FC3;
}

a:hover {
  text-decoration:underline;
  color: #EB9FC3;

}
a:active {
  text-decoration:underline;
  color: #EB9FC3;
}

h1, h2, h3, h4, h5, h6 {
  color: #FCFBE3;
  font-family: 'Play', sans-serif;
  margin-bottom: 30px;

}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 3em;
}
h4,h5,h6 {
  font-size: 2.5em;
}



button {
  background-image: linear-gradient(to right, #D83F87 , rgb(126,102,163));
  border: none;
  padding: 10px;
  border-radius: 5px;

}
button h6 {
  font-size: 5em;
  color: #2A1B3D;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 100px;
  margin-top:50px;
}

header h1 {
  font-size: 85px;
  font-family: 'Play', sans-serif;
  margin:0;

}

hr {
  display: block;
  background-image: url(../images/waveform.svg);
  background-repeat:no-repeat;
  background-position: center;
  height: 100px;
  border:0;
  margin-bottom: 70px;
  margin-top: 70px;
}

nav {
  width: 90%;
  position:absolute;
  right:0;
  text-align: right;
  padding: 20px 20px 10px 20px;
  background-image: linear-gradient(to right, #2A1B3D 10% , rgb(126,102,163)50%);
  border-radius: 0 0 15px 15px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 2;

}
nav ul li {
  list-style: none;
  margin-bottom:10px;
  color: #2A1B3D;

}

nav ul li a:link,nav  ul li  a:hover,nav  ul li  a:visited,nav  ul li  a:active {
  color: #2A1B3D;
  font-family: 'Muli', sans-serif;
  font-size: 2em;
}

em {
  font-style:normal;
  color: #BFB3D1;
}
footer {
  margin: 50px auto;
  display: flex;
  max-width:50%;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
footer a img {
  height: 40px;
  width: 40px;
}
form {
  margin: 0 auto;
  width: 80%;
  color: #FCFBE3;
  font-family:'Play', sans-serif;
  font-size: 3em;
}
form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
form input {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;

}
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  height: 100px;
}
p {
  text-align: left;
  margin-bottom: 30px;
}



  /*********CLASS INDICATORS********/

.profile-img {

  display: flex;
  padding: 0px;
  max-width:100px;
  flex: 1;


}

.profile-img img {
  width: 100%;
  display: block;


}

.profile-header {
  flex:2;

}

.hamburger {
max-width: 100px;
display: block;
flex:1;
}

.blogheader {
  display: block;
}
.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.intro {
  display: block;
  margin: 50px 20px;
  text-align: center;

}

.intro h2, h3 {
  margin: 40px;

}
.img-content {
  max-width: 80%;
  margin-bottom: 70px;
  margin-top: 70px;
  border-radius: 10px;
  z-index: 0;
}

.projects {

  display: grid;
  grid-template-columns: repeat(500px);
}
.project {
  width: 100%;
  margin:30px auto 0;
  position: relative;

}

.project .overlay {
  display: none;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
}
.project:hover {
  .overlay {
    display: block;
  }

}
.project img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  border:3px solid #b3b6a4;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.skillslist {
  width:50%;
  margin: 0 auto 40px;
}
.skillslist h4{
  margin: 0 0 10px 25px;
  text-align: left;
}
.socialbuttons {
  display: none;
}



/***************DESKTOP STYLES*********/
@media only screen and (min-device-width: 500px){
    body {
      max-width: 1000px;
    }
    button h6 {
      font-size: 2em;
    }
    form {
      font-size: 1em;
      width: 400px;
    }
    header {
    justify-content: space-between;

    height: 81px;
    }
    .profile-img {
      margin-right: 20px;
      z-index: 1;
    }
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 2em;
    }
    h3  {
      font-size: 1.5em;
    }
    h4, h5, h6 {
      font-size: 1em;
    }
    header {
      margin-bottom: 0;
    }
    header h1 {
      font-size:40px;
      text-align: left;
      style:inline;
    }
    hr {
      height: 50px;
      width: 100%;
    }
    nav {
      display: flex;
      width:100%;
      position:relative;
      top:-20px;
      background-image: linear-gradient(to right,rgb(126,102,163,#2A1B3D));
    }

    nav ul {
      display: flex;
      list-style: none;
    }
    nav ul li {
      display: inline;
      margin-left:20px;
    }
    nav ul li a:link,nav  ul li  a:hover,nav  ul li  a:visited,nav  ul li  a:active {
      color: #2A1B3D;
      font-family: 'Muli', sans-serif;
      font-size: 1.5em;
    }
    p,li,a {
      color: #FCFBE3;
      font-family: 'Muli', sans-serif;
      font-size: 1em;
    }
    .img-content {
      max-width: 500px;
      margin: 30px auto 30px;
    }
    .hamburger {
      display: none;
      width: 0;
    }
    .header-container {
      justify-content: flex-start;
      align-items: center;
    }
    .projects {
      display: flex;
      justify-content: space-between;

    }
    .project {
      max-width: 300px;
    }
    .socialbuttons {
      display: flex;
      justify-content: space-between;
      width: 150px;
    }
    .socialbuttons a img {
      height: 30px;
    }
  }
}
